{% extends 'layout.html' %}
{% block title %}Reusa Consciente | Productos{% endblock title %}
{% block content %}
{% load static %}
<h1>Productos</h1>
<ul id="orderButtons">
    <h4>Ordernar:</h4>
    <li><a href="{% url 'Ordernar' order='id' %}" ><button>ID</button></a></li>
    <li><a href="{% url 'Ordernar' order='category' %}" ><button>Categoría</button></a></li>
    <li><a href="{% url 'Ordernar' order='size' %}" ><button>Talla</button></a>
    </li>
    <li><a href="{% url 'Ordernar' order='price' %}" ><button>Precio</button></a>
    </li>
    <li><a href="{% url 'Ordernar' order='sex' %}" ><button>Genero</button></a>
    </li>
    <li><a href="{% url 'Ordernar' order='color' %}" ><button>Color</button></a>
    </li>
    <li><a href="{% url 'Ordernar' order='brand' %}" ><button>Marca</button></a>
    </li>
</ul>
{% comment %} {% for producto in productos %}
    <p>{{producto}} <a href="{% url 'Eliminar' id=producto.id %}">Eliminar </a><a href="{% url 'selectForm' id=producto.id %}">Actualizar</a></p>
{% endfor %} {% endcomment %}

<table style= "border: 1px solid black; width:650px">
    <tr>
        <th style= "border: 1px solid black; background-color: black; color: white;">ID</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Category</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Brand</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Size</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Color</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Genero</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Price</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Eliminar</th>
        <th style= "border: 1px solid black; background-color: black; color: white;">Actualizar</th>
    </tr>
{% for producto in productos %}
    <tr style="background-color:white;">
        <td>{{producto.id}}</td>
        <td>{{producto.category}}</td>
        <td>{{producto.brand}}</td>
        <td>{{producto.size}}</td>
        <td>{{producto.color}}</td>
        <td>{{producto.sex}}</td>
        <td style="direction:rtl">${{producto.price}}</td>
        <td style="font-weight: bold; text-align:center;">
            <a href="{% url "Eliminar" id=producto.id %}" style="color:red; ">X</a>
        </td>
        <td style="font-weight: bold; text-align:center;">
            <a href="{% url 'selectForm' id=producto.id %}">Actualizar</a>
        </td>
    </tr>
{% endfor%}
</table>
{% endblock content %}